$red: #C92100;
$light-red: #F76F6C;
$dark-red: #c92100;

$blue: #0079B8;
$light-blue: #89CBDF;
$lighter-blue: #E1F1F6;

$dark-yellow: #DFA100;
$yellow: #ffDC0B;
$light-yellow: #FFFCE8;

$orange: #FF8400;

$purple: #781DA0;

$green: #48960C;
$light-green: #85C81A;
$lighter-green: #C7E59C;
$bg-green: #DFF0D0;

$dark-grey: #565656;
$grey: #737373;
$mid-grey: #AAAAAA;
$light-grey: #CCCCCC;
$lighter-grey: #F2F2F2;

$black: #000000;
$dark: #333333;
$white: #FFFFFF;