.mr-0 {
  margin-right: $margin-zero !important;
}

.mb-0 {
  margin-bottom: $margin-zero !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mx-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.m-5 {
  margin: 5px;
}
