client/node_modules
client/public/bundle
server/.idea
package-lock.json
stats.json
**/__pycache__/
db.sqlite3
client/.idea
client/dummy_data
.idea
.coverage
coverage.svg
.dat.nosync0216.YIhZVp
client/build
server/**/migrations/**
server/venv/
.DS_Store
.env
.env.backup
