<clr-modal [(clrModalOpen)]="opened"
  [clrModalSize]="'lg'"
  [clrModalClosable]="false">
  <h3 class="modal-title">
    VM Template
  </h3>
  <div class="modal-body">
  <div *ngIf="TemplateList.VMlist$ | async as list">
    <!--div class="clr-row" *ngFor="let item of list">
    <div class="clr-col-12">
      <tide-resource-card [item]="item"></tide-resource-card>
    </div>
  </div-->
  <clr-datagrid>
    <clr-dg-column>
      <div class="key">VM Name</div>
    </clr-dg-column>
    <clr-dg-column>
      <div class="key">Memory Size</div>
    </clr-dg-column>
    <clr-dg-column>
      <div class="key">Storage Size</div>
    </clr-dg-column>
    <clr-dg-column>
      <div class="key">CPUs</div>
    </clr-dg-column>
    <clr-dg-column>
      <div class="key">Exposed Ports</div>
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let item of list" [clrDgItem]="item">
      <clr-dg-action-overflow>
        <button
          class="btn btn-sm btn-link"
          (click)="this.Click(item?.id, item?.vcpu, item?.vmem, item?.disk)"
        >Update VM</button>
        <button
          class="btn btn-sm btn-link"
          (click)="this.delete(item?.id)"
        >{{ "HOME.RESOURCE.CARD.FOOTER.DELETE" | translate:{} }}</button>
      </clr-dg-action-overflow>
      <clr-dg-cell><div class="value">{{item?.name}}</div></clr-dg-cell>
      <clr-dg-cell><div class="value">{{item?.vmem}} GB</div></clr-dg-cell>
      <clr-dg-cell><div class="value">{{item?.disk}} GB</div></clr-dg-cell>
      <clr-dg-cell><div class="value">{{item?.vcpu}}</div></clr-dg-cell>
      <clr-dg-cell><div class="value">{{item?.ports}}</div></clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button"
      class="btn btn-outline"
      (click)="this.onCancel()"
    >
      {{ "HOME.RESOURCE.DIALOG.CANCEL" | translate:{} }}
    </button>
    <!--button class="btn btn-primary" (click)="this.refreshList()">
      <clr-icon shape="plus"></clr-icon>
      {{ "HOME.TEMPLATE.ADD_TEMPLATE" | translate:{} }}
    </button-->
  </div>
</clr-modal>

<tide-template-dialogupdate
  *ngIf="this.dialogOpened"
  [opened]="this.dialogOpened"
  [vmid]="this.updateId"
  (save)="this.Save()"
  (cancel)="this.Cancel()">
</tide-template-dialogupdate>
