<!--div class="card">
  <div class="card-header">{{ template.displayName }}</div>
  <div class="card-block">
    <div class="card-text">
      <span class="row-label">{{ "HOME.TEMPLATE.CARD.NAME" | translate:{} }}</span>
      <span class="row-content">{{ template.name }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">{{ "HOME.TEMPLATE.CARD.VERSION" | translate:{} }}</span>
      <span class="row-content">{{ template.version }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">{{ "HOME.TEMPLATE.CARD.DATE" | translate:{} }}</span>
      <span class="row-content">{{ template.date }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">{{ "HOME.TEMPLATE.CARD.URL" | translate:{} }}</span>
      <span class="row-content">{{ template.url }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">{{ "HOME.TEMPLATE.CARD.CPU" | translate:{} }}</span>
      <span class="row-content">{{ template.cpu }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">{{ "HOME.TEMPLATE.CARD.MEMORY" | translate:{} }}</span>
      <span class="row-content">{{ template.mem }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">{{ "HOME.TEMPLATE.CARD.DISK" | translate:{} }}</span>
      <span class="row-content">{{ template.mem }}</span>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link"
      (click)="this.onEdit(template)">{{ "HOME.TEMPLATE.CARD.EDIT" | translate:{} }}</button>
    <button class="btn btn-sm btn-link"
      (click)="this.onDelete(template)">{{ "HOME.TEMPLATE.CARD.DELETE" | translate:{} }}</button>
  </div>
</div-->
