<div class="card">
  <div class="card-header">{{ template.displayName }}</div>
  <div class="card-block">
    <div class="card-text">
      <span class="row-label">Name</span>
      <span class="row-content">{{ template.name }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">Version</span>
      <span class="row-content">{{ template.version }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">Date</span>
      <span class="row-content">{{ template.date }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">URL</span>
      <span class="row-content">{{ template.url }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">CPU</span>
      <span class="row-content">{{ template.cpu }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">Memory</span>
      <span class="row-content">{{ template.mem }}</span>
    </div>
    <div class="card-text">
      <span class="row-label">Disk</span>
      <span class="row-content">{{ template.mem }}</span>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" (click)="this.onEdit(template)">Edit</button>
    <button class="btn btn-sm btn-link" (click)="this.onDelete(template)">Delete</button>
  </div>
</div>
