@charset "UTF-8";

@font-face {
    font-family: "tides";
    src: url("fonts/tides.eot");
    src: url("fonts/tides.eot?#iefix") format("embedded-opentype"),
    url("fonts/tides.woff") format("woff"),
    url("fonts/tides.ttf") format("truetype"),
    url("fonts/tides.svg#tides") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "tides" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="tides-icon-"]:before,
[class*=" tides-icon-"]:before {
    font-family: "tides" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tides-icon-resource:before {
  content: "\41";
}
.tides-icon-contribution:before {
  content: "\42";
}
.tides-icon-settings:before {
  content: "\43";
}
.tides-icon-template:before {
  content: "\44";
}
.tides-icon-dashboard:before {
  content: "\45";
}


.tides-fw {
    text-align: center;
    width: 1.25em;
    position: relative;
    top: 1px;
    font-size: 29px !important;
}

.tides-white {
    color: #ffffff !important;
}

.tides-black {
    color: #000000 !important;
}

.tides-deepGray {
    color: #686868 !important;
}

.tides-mediumGray {
    color: #B9B9B9 !important;
}

.tides-lightGray {
    color: #D6D6D6 !important;
}
