<clr-modal [(clrModalOpen)]="opened"
  [clrModalSize]="'lg'"
  [clrModalClosable]="false">
  <h3 class="modal-title">
    {{ "HOME.RESOURCE.DIALOG.ADD_RESOURCE" | translate:{} }}
  </h3>
  <div class="modal-body">
    <form clrForm [formGroup]="this.resourceForm">
      <clr-input-container>
        <label for="name">{{ "HOME.RESOURCE.DIALOG.NAME" | translate:{} }}</label>
        <input id="name"
          class="clr-col-12 clr-col-md-8"
          type="text"
          [placeholder]="'HOME.RESOURCE.DIALOG.RESOURCE_NAME' | translate:{} "
          formControlName="name"
          clrInput />
        <clr-control-error>{{ "HOME.RESOURCE.DIALOG.REQUIRED" | translate:{} }}</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label for="datacenter">{{ "HOME.RESOURCE.DIALOG.DATACENTER" | translate:{} }}</label>
        <input id="datacenter"
          class="clr-col-12 clr-col-md-8"
          type="text"
          [placeholder]="'HOME.RESOURCE.DIALOG.DATACENTER_NAME' | translate:{} "
          formControlName="datacenter"
          clrInput />
      </clr-input-container>
      <clr-input-container>
        <label for="cluster">{{ "HOME.RESOURCE.DIALOG.CLUSTER" | translate:{} }}</label>
        <input id="cluster"
          class="clr-col-12 clr-col-md-8"
          type="text"
          [placeholder]="'HOME.RESOURCE.DIALOG.CLUSTER_NAME' | translate:{} "
          formControlName="cluster"
          clrInput />
      </clr-input-container>

      <clr-input-container>
        <label for="username">{{ "HOME.RESOURCE.DIALOG.USERNAME" | translate:{} }}</label>
        <input id="username"
          class="clr-col-12 clr-col-md-8"
          type="text"
          formControlName="username"
          clrInput />
      </clr-input-container>

      <clr-password-container>
        <label for="password">{{ "HOME.RESOURCE.DIALOG.PASSWORD" | translate:{} }}</label>
        <input id="password"
          type="password"
          class="clr-col-12 clr-col-md-8"
          type="text"
          formControlName="password"
          clrPassword />
      </clr-password-container>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
      class="btn btn-outline"
      (click)="this.onCancel()">
      {{ "HOME.RESOURCE.DIALOG.CANCEL" | translate:{} }}
    </button>
    <button type="button"
      class="btn btn-primary"
      (click)="this.onSave()">
      {{ "HOME.RESOURCE.DIALOG.SAVE" | translate:{} }}
    </button>
  </div>
</clr-modal>
