<div class="content-header">
  <h3>Contribution Policy</h3>
</div>

<div class="content-body">
  <button class="btn btn-primary" (click)="this.opened=true">
    <clr-icon shape="plus"></clr-icon>
    Add Policy
  </button>

  <clr-datagrid>
    <clr-dg-column [clrDgField]="'crid'">CRID</clr-dg-column>
    <clr-dg-column [clrDgField]="'template'">Template</clr-dg-column>
    <clr-dg-column [clrDgField]="'startConditions'">Start Conditions</clr-dg-column>
    <clr-dg-column [clrDgField]="'stopConditions'">Stop Condistions</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of list$ | async" [clrDgItem]="item">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="this.edit(item)">
          Edit
        </button>
        <button class="action-item" (click)="this.delete(item)">
          Delete
        </button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{ item.crid }}</clr-dg-cell>
      <clr-dg-cell>{{ item.template }}</clr-dg-cell>
      <clr-dg-cell>{{ item.startConditions | list}}</clr-dg-cell>
      <clr-dg-cell>{{ item.stopConditions | list}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-placeholder>
      No Policy Data
    </clr-dg-placeholder>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="this.vo.pageSize">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} items
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>

</div>

<tide-policy-dialog
  *ngIf="this.opened"
  [opened]="this.opened"
  (save)="this.add($event)"
  (cancel)="this.cancel()">
</tide-policy-dialog>
