<div class="card">
  <div class="card-block">
    <div class="info-wrapper">
      <clr-icon class="info-icon" size="100" shape="nodes"></clr-icon>
      <span class="info-container">
        <div class="name">
          {{ item?.name }}
        </div>
        <div class="desc">CPU: {{ item?.cpu }}</div>
        <div class="desc">Memory: {{ item?.mem }}</div>
        <div class="desc">Disk: {{ item?.disk }}</div>
      </span>
    </div>
    <div class="detail-wrapper">
      <span class="detail-container">
        <div class="value">{{ item?.usage["cpu%"] }}%</div>
        <div class="key">CPU</div>
      </span>
      <span class="detail-container">
        <div class="value">{{ item?.usage["mem%"] }}%</div>
        <div class="key">Memory</div>
      </span>
      <span class="detail-container">
        <div class="value">{{ item?.usage["disk%"] }}%</div>
        <div class="key">Disk</div>
      </span>
    </div>
  </div>
</div>